@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
   overflow-x: hidden;
    text-align: center;
    font-family: 'Asap', sans-serif;
    background-color: black !important;
    text-decoration: none !important;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #000000;
    top: 0;
   left: 0;
   right: inherit;
   width: 100%;
   /* position: fixed; */
   z-index: 100;
}


li {
    display: inline;
    padding-right: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    color: #fff;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    text-decoration: none;
  }
  ul a:hover {
    color: grey;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    text-decoration: none;
  }
#proimage {
  border-radius:10%;
}
#portimga {
  border-radius: 5%;
  width: 85%;
  height: 90%;

}
#portimgb {
  border-radius: 5%;
  width: 85%;
  height: 90%;

}
#portimgc {
  border-radius: 5%;
  width: 85%;
  height: 95%;

}
#portimgd {
  border-radius: 5%;
  width: 80%;
  height: 85%;

}


 /* .grow:hover {
    height: 350px;
}
.grow:active {
  height: 350px;
} */
.container-x {
  display: flex;
  align-items: center;
  padding-left: 5%;


}
.container-f {
  display: flex;
  align-items: center;
  padding-left: 10%;
}
.container-0 {
  display: flex;
  align-items: center;
  padding-left: 10%;
}
#more2 {
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
}

#text1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white !important;
  font-size: 2.2vw;
}
#text2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white !important;
  font-size: 2vw;
}
#text3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: darkgray !important;
  font-size: 1.5vw;
}
#text4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white !important;
  font-size: 1.5vw;
}

.h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white !important;
}
.col-sm-4 {
  padding-left: 2%;
  padding-right: 2%;
}
.row {
  margin-top: 0;
  background-color: black;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
}
#col1 {
  padding-left: 70px !important;
  width:90px;
  height:900px;
  background-color: #000000;
  text-align: center;
}
#about {
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;

}
#more {
  color:white !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  box-sizing: border-box;

}
#col2 {
  padding-left: 50px !important;
  width:100px;
  height:900px;
  background-color: #000000;
  text-align: center;
}



.column {
     padding-left: 50px;
     padding-right: 50px;
     justify-content: center;
     background-color: black;
     display: flex;
     text-align: center;

}



footer {
  padding-top: 20%;
    color: #31485fff;
    padding: 2px;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    background-color: white;
  }


footer a {
    text-decoration: none;
    color: darkgray;
}
