@import url('https://fonts.googleapis.com/css?family=Asap');
body {
  margin: 0;
    text-align: center;
    font-family: 'Asap', sans-serif;
}
.navbar {
    padding: 15px 10px 15px 10px;
    display: flex;
    align-items: center;
    background-color: #3b444b;
    top: 0;
   left: 0;
   right: inherit;
   width: 100%;
   position: fixed;
   z-index: 100;
}


#logo {
    margin-right: auto;
    padding-right: 800px;
}
li {
    display: inline;
    padding-right: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    color: #fff;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.jumbotron {
  padding: 200px 180px 300px 180px !important;
  background-image: url('abstract-art-blur-1119973.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    background-color: transparent;
}

.container {
    color: #ffff;
    text-align: center;
    font-size: 3vw;
}
.jumbotron .container {
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
}

.p {
  font-family: 'Asap', sans-serif;
  font-size: 1vw;
}
